:root {
    --pink: #efbbcc;
    --blue: #2E2252;
}

/* form/contact section */

.container-center {
    text-align: center;
    display: flex;
    justify-content: center;
}

form {
    display: inline;
    width: 50%;
    text-align: center;
    font-family: 'Lora', serif;
    color: var(--blue);
    padding-top: 20px;
}

/* buttons: https://fdossena.com/?p=html5cool/buttons/i.frag */

button.button6 {
    display: inline-block;
    padding: 0.7em 1.4em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.15em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    color: #FFFFFF;
    background-color: var(--blue);
    box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
    text-align: center;
    position: relative;
}

button.button6:active {
    top: 0.1em;
}

/* about section */

.about-container {
    text-align: center;
    color: var(--blue);
}

.about-title {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 15px;
}

.nicole-pic {
    width: 25%;
    height: auto;
    border-radius: 50%;
}

.about-para {
    font-family: 'Lora', serif;
    padding-top: 15px;
    margin: 0 10%
}

.projects-div {
    padding-bottom: 43.2px;
}

/* work section */

.project-header {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    color: var(--blue);
    padding-bottom: 10px;
}

.project-sub {
    font-family: 'Montserrat', sans-serif;
    color: var(--blue);
    text-align: center;
    padding-bottom: 10px;
}