:root {
    --pink: #efbbcc;
    --blue: #2E2252;
}

.about-container {
    text-align: center;
    color: var(--blue);
}

.about-title {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 15px;
}

.nicole-pic {
    width: 25%;
    height: auto;
    border-radius: 50%;
}

.about-para {
    font-family: 'Lora', serif;
    padding-top: 15px;
    margin: 0 10%
}