:root {
    --pink: #efbbcc;
    --blue: #2E2252;
}

.footer {
    display: block;
    /* position: fixed; */
    bottom: 0;
    text-align: center;
    left: 6%;
}

.padding-i {
    padding: 8px 20px;
    color: var(--blue);
}

a {
    color: var(--blue);
    text-decoration: none;
}

a:hover, .fa-phone:hover {
    color: white;
}

i {
    font-size: 25px;
}