/* :root {
  --pink: #efbbcc;
  --blue: #2E2252
}

* {
  background-color: var(--pink);
  z-index: auto;
}

#root {
  position: relative;
  min-height: 100vh;
}

.positioning {
  padding-bottom: 2.5rem;
} */

.toggle-button {
  position: absolute;
  padding: 0;
  border: none;
  background: none;
  top: 16px;
  right: 55px;
  z-index: 5;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
}

.toggle-button:hover {
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}