/* :root {
  --pink: #efbbcc;
  --blue: #2E2252
}

* {
  background-color: var(--pink);
  z-index: auto;
}

#root {
  position: relative;
  min-height: 100vh;
}

.positioning {
  padding-bottom: 2.5rem;
} */

.toggle-button {
  position: absolute;
  padding: 0;
  border: none;
  background: none;
  top: 14px;
  right: 55px;
  z-index: 5;
}