:root {
  --pink: #efbbcc;
  --blue: #2E2252
}

* {
  background-color: var(--pink);
  z-index: auto;
}

#root {
  position: relative;
  min-height: 100vh;
}

.positioning {
  padding-bottom: 2.5rem;
}